<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, td, th {
            border-collapse: collapse;
            border: 3px solid #245488;
        }
    </style>
</head>
<body>

<h1>Table of users</h1>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Authority</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:text="${user.getFirstName()}">model</td>
        <td th:text="${user.getLastName()}">series</td>
        <td th:text="${user.getEmail()}">email</td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <a th:text="${role.getRole()}">role</a>
                <br/>
            </div>
        </td>
        <td>
            <a href="admin/updateInfo" th:href="@{/admin/updateInfo(userId=${user.getId()})}">Update user</a>
            <br/>
            <a href="admin/delete" th:href="@{/admin/delete(userId=${user.getId()})}">Delete user</a>
        </td>
    </tr>
</table>

<br/>

<a th:href="@{/admin/addUser}">Add user</a>

<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>